include https://cdn.jsdelivr.net/gh/jerryc127/hexo-theme-butterfly@master/layout/includes/rightside.pug
!=partial('https://cdn.jsdelivr.net/gh/jerryc127/hexo-theme-butterfly@dev/layout/includes/third-party/search/index.pug', {}, {cache: true})
include https://cdn.jsdelivr.net/gh/jerryc127/hexo-theme-butterfly@dev/layout/includes/additional-js.pug
//- 上面的是本来就有的，对齐上面的缩进，加上下面的内容
.contact-info
  .option
    i.fas.fa-rocket
    .bloktop
    .text 还不造有啥用滴悬浮模块
      .strip
  .option
    i.fas.fa-cube
    .blok
    .text
      .strip
      <div class="post-reward"><button class="tip-button reward-button"><span class="tip-button__text">投喂</span><div class="reward-main"><ul class="reward-all"><li class="reward-item"><a class="about-reward" href="/img/weixin.webp" target="_blank"><img class="post-qr-code-img" src="/img/weixin.webp" alt="微信"></a><div class="post-qr-code-desc">微信</div></li><li class="reward-item"><a class="about-reward" href="/img/alipay.webp" target="_blank"><img class="post-qr-code-img" src="/img/alipay.webp" alt="支付宝"></a><div class="post-qr-code-desc">支付宝</div></li></ul></div></button></div>
  .option
    i.fas.fa-music
    .blokbottom
    .text.aplayertext
      .strip
      .aplayer.no-destroy(mutex='true', listfolded='true', data-id='你的网易云歌单id', data-preload="none" , data-server='netease', data-volume='0.25', data-order='random', data-type='playlist', data-fixed='true', data-autoplay='false')
<!DOCTYPE html>
<html lang="<%- config.language %>">
  <%- partial('_partial/scripts/_ctrl') _%>
  <%- partial('_partial/head') _%>
  <body itemscope itemtype="http://schema.org/WebPage">
    <!-- import body_begin begin-->
    <%_ if (config.import && config.import.body_begin){ _%>
      <%_ getList(config.import.body_begin).forEach(function(item){ _%>
        <%- item %>
      <%_ }) _%>
    <%_ } _%>
    <!-- import body_begin end-->
    <!-- Custom Files bodyBegin begin-->
    <%- volantis_inject('bodyBegin') %>
    <!-- Custom Files bodyBegin end-->
    <%- partial('_partial/header', null, {cache: false, path: path}) %>
    <div id="l_body">
      <%- partial('_partial/cover') %>
      <div id="safearea">
        <div class="body-wrapper">
          <%- body %>
        </div>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
        <a id="s-top" class="fa-solid fa-arrow-up fa-fw" title="top"></a>
      </div>
    </div>
    <div>
      <%- partial('_partial/scripts/index') %>
    </div>
    <!-- import body_end begin-->
    <%_ if (config.import && config.import.body_end){ _%>
      <%_ getList(config.import.body_end).forEach(function(item){ _%>
        <%- item %>
      <%_ }) _%>
    <%_ } _%>
    <!-- import body_end end-->
    <!-- Custom Files bodyEnd begin-->
    <%- volantis_inject('bodyEnd') %>
    <!-- Custom Files bodyEnd end-->
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/612901/661111@main/themes/volantis/source/wyblogcss/darkmode.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/612901/661111@main/themes/volantis/source/wyblogcss/darkmode.css" type="text/css"/>
    <script src="/live2d-widget/autoload.js"></script>
  </body>  
</html>
